body{
    background-color: black;
    font-family: "Poppins", sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-direction: column;
    color: yellow;
}

.arrow{
    position: absolute;
    z-index: 2;
    height: 100px;
    transform: rotate(90deg);
    animation: myAnimation 1s infinite;
}


.bhav{
    height: 100px;
}


@keyframes myAnimation {
    from {margin-top: 50px;}
    to {margin-top: 200px;}
}